<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="test/bootstrap.php"
	colors="true"
	backupGlobals="false"
	stopOnFailure="false"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="Resque Test Suite">
			<directory>./test/Resque/</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">./lib/Resque/</directory>
		</include>
	</source>
</phpunit>
